

* {
  margin: 0 !important;
  padding: 0;
}

.dropdown {

 position: relative;
  display: inline-block;
  
  height: 100%;

}

.dropdown-content {

  display: none;
  background-color: whitesmoke;
  width: 100%;
  position: absolute;
  top: 50px;
}

.dropdown-content a:hover {

  background-color: lightgrey;

}

.dropdown:hover .dropdown-content {

display: flex;
flex-direction: column;
z-index: 94934390034;

}

.menu-button{
background-color: #fff;
border: none;
margin: 0% !important;
padding: 0% !important;
}

.offcanvas-body{
  display: contents;
  align-items: center;
}

.App {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  background-image: url(/public/model.jpg);
  background-size: cover;
  min-height: 100vh;

}

.tape {
  background-color: white;
  color: #727070;
  margin-bottom: 0.1%;
  vertical-align: bottom;
  border-bottom: 100%;
  border-bottom: #000;

}

.topnav {
  z-index: 9439439;
  background-color: #fff;
  height: 15% !important;
  color: black !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  color: #aab;
}

.right-top {

  place-content: end;
  display: flex;

}

.left-top {
  color: #727070;
  align-items: center;
  display: grid;
}

.logo-css {
  font-weight: lighter;
  align-items: center;
  display: grid;
}

/*

.btn{
  width: min-content;
  align-items: center;

}


.form-control{
    max-width: fit-content;
    align-items: center;
    display: inline-block;

}  

*/

@media (max-width: 992px) {


}